node_modules/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.idea/*
IntegratedBackend/package-lock.json
IntegratedBackend/.idea/IntegratedBackend.iml
IntegratedBackend/.idea/misc.xml
IntegratedBackend/.idea/modules.xml
IntegratedBackend/.idea/vcs.xml
IntegratedBackend/.idea/jsLibraryMappings.xml
