/* LiveChatButton */
.open_button {
  width: 270px;
  height: 40px;
  border-width: 0px;
  border-radius: 3px;
  background: rgb(14, 104, 194);
  cursor: pointer;
  outline: none;
  font-family: Microsoft YaHei;
  color: white;
  font-size: 17px;
  font-weight: 600;
}

/* FillForm */

.fillform {
  width: 350px;
  height: 500px;
}

label {
  display: block;
}

input {
  display: inline-block;
  font-size: 16px;
  width: 80%;
  border-width: 1px;
  margin: 0 6px 16px 0;
  min-height: 20px;
  max-height: none;
}
select {
  width: 80%;
  font-size: 16px;
  height: 24px;
}

button.submit {
  margin-top: 10px;
  width: 80%;
  height: 40px;
  border-width: 0px;
  border-radius: 1px;
  background: rgb(14, 104, 194);
  cursor: pointer;
  outline: none;
  font-family: Microsoft YaHei;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

/* ChatRoom */
.agent_chat {
  margin-top: 7px;
  display: flex;
  justify-content: flex-start;
}

.guest_chat {
  margin-top: 7px;
  display: flex;
  justify-content: flex-end;
}

img {
  width: 30px;
  height: 20px;
  margin-top: 5px;
}

.guest_chat img {
  width: 30px;
  height: 23px;
  margin-top: 5px;
}

.chatroom {
  width: 400px;
  display: block;
}

.chat-body {
  overflow: auto;
  width: 400px;
  height: 350px;
  border: 1px solid;
  background-color: rgb(250, 240, 226);
}

.agent_msg {
  border: 1px solid rgb(224, 250, 193);
  background-color: rgb(214, 247, 175);
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 4px;
  border-radius: 8px;
  margin-bottom: 2px;
}

button.reroute_button {
  display: none;
  float: right;
}

.guest_msg {
  border: 1px solid rgb(224, 250, 193);
  background-color: rgb(214, 247, 175);
  margin-top: 4px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 3px;
  border-radius: 8px;
  margin-bottom: 2px;
  /* font-size: 16px; */
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(250, 240, 226);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #1767b1;
  border-radius: 8px;
}

.chat-input textarea {
  margin-top: 10px;
  width: 319px;
}

.chat-input button {
  position: relative;
  top: -10px;
  width: 70px;
  height: 35px;
  border-width: 0px;
  border-radius: 3px;
  background: rgb(14, 104, 194);
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

/* Waiting progress animation */
.waiting_screen {
  text-align: center;
}

.load-container {
  /* background-color: #f1f1ea; */
  width: auto;
  height: auto;
  position: relative;
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.loader {
  font-size: 10px;
  margin: 100px auto;
  margin-top: 200px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  position: relative;
  animation: mymove 1.3s infinite linear;
  -webkit-animation: mymove 1.5s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@keyframes mymove {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em #46a4c9, 2em -2em 0 0em #46a4c9,
      3em 0 0 -1em #46a4c9, 2em 2em 0 -1em #46a4c9, 0 3em 0 -1em #46a4c9,
      -2em 2em 0 -1em #46a4c9, -3em 0 0 -1em #46a4c9, -2em -2em 0 0 #46a4c9;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 #46a4c9, 2em -2em 0 0.2em #46a4c9, 3em 0 0 0 #46a4c9,
      2em 2em 0 -1em #46a4c9, 0 3em 0 -1em #46a4c9, -2em 2em 0 -1em #46a4c9,
      -3em 0 0 -1em #46a4c9, -2em -2em 0 -1em #46a4c9;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em #46a4c9, 2em -2em 0 0 #46a4c9,
      3em 0 0 0.2em #46a4c9, 2em 2em 0 0 #46a4c9, 0 3em 0 -1em #46a4c9,
      -2em 2em 0 -1em #46a4c9, -3em 0 0 -1em #46a4c9, -2em -2em 0 -1em #46a4c9;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em #46a4c9, 2em -2em 0 -1em #46a4c9,
      3em 0em 0 0 #46a4c9, 2em 2em 0 0.2em #46a4c9, 0 3em 0 0em #46a4c9,
      -2em 2em 0 -1em #46a4c9, -3em 0em 0 -1em #46a4c9, -2em -2em 0 -1em #46a4c9;
  }
  50% {
    box-shadow: 0 -3em 0 -1em #46a4c9, 2em -2em 0 -1em #46a4c9,
      3em 0 0 -1em #46a4c9, 2em 2em 0 0em #46a4c9, 0 3em 0 0.2em #46a4c9,
      -2em 2em 0 0 #46a4c9, -3em 0em 0 -1em #46a4c9, -2em -2em 0 -1em #46a4c9;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em #46a4c9, 2em -2em 0 -1em #46a4c9,
      3em 0 0 -1em #46a4c9, 2em 2em 0 -1em #46a4c9, 0 3em 0 0 #46a4c9,
      -2em 2em 0 0.2em #46a4c9, -3em 0 0 0 #46a4c9, -2em -2em 0 -1em #46a4c9;
  }
  75% {
    box-shadow: 0em -3em 0 -1em #46a4c9, 2em -2em 0 -1em #46a4c9,
      3em 0em 0 -1em #46a4c9, 2em 2em 0 -1em #46a4c9, 0 3em 0 -1em #46a4c9,
      -2em 2em 0 0 #46a4c9, -3em 0em 0 0.2em #46a4c9, -2em -2em 0 0 #46a4c9;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 #46a4c9, 2em -2em 0 -1em #46a4c9,
      3em 0 0 -1em #46a4c9, 2em 2em 0 -1em #46a4c9, 0 3em 0 -1em #46a4c9,
      -2em 2em 0 0 #46a4c9, -3em 0em 0 0 #46a4c9, -2em -2em 0 0.2em #46a4c9;
  }
}

@-webkit-keyframes mymove
    /*Safari and Chrome*/ {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em #46a4c9, 2em -2em 0 0em #46a4c9,
      3em 0 0 -1em #46a4c9, 2em 2em 0 -1em #46a4c9, 0 3em 0 -1em #46a4c9,
      -2em 2em 0 -1em #46a4c9, -3em 0 0 -1em #46a4c9, -2em -2em 0 0 #46a4c9;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 #46a4c9, 2em -2em 0 0.2em #46a4c9, 3em 0 0 0 #46a4c9,
      2em 2em 0 -1em #46a4c9, 0 3em 0 -1em #46a4c9, -2em 2em 0 -1em #46a4c9,
      -3em 0 0 -1em #46a4c9, -2em -2em 0 -1em #46a4c9;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em #46a4c9, 2em -2em 0 0 #46a4c9,
      3em 0 0 0.2em #46a4c9, 2em 2em 0 0 #46a4c9, 0 3em 0 -1em #46a4c9,
      -2em 2em 0 -1em #46a4c9, -3em 0 0 -1em #46a4c9, -2em -2em 0 -1em #46a4c9;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em #46a4c9, 2em -2em 0 -1em #46a4c9,
      3em 0em 0 0 #46a4c9, 2em 2em 0 0.2em #46a4c9, 0 3em 0 0em #46a4c9,
      -2em 2em 0 -1em #46a4c9, -3em 0em 0 -1em #46a4c9, -2em -2em 0 -1em #46a4c9;
  }
  50% {
    box-shadow: 0 -3em 0 -1em #46a4c9, 2em -2em 0 -1em #46a4c9,
      3em 0 0 -1em #46a4c9, 2em 2em 0 0em #46a4c9, 0 3em 0 0.2em #46a4c9,
      -2em 2em 0 0 #46a4c9, -3em 0em 0 -1em #46a4c9, -2em -2em 0 -1em #46a4c9;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em #46a4c9, 2em -2em 0 -1em #46a4c9,
      3em 0 0 -1em #46a4c9, 2em 2em 0 -1em #46a4c9, 0 3em 0 0 #46a4c9,
      -2em 2em 0 0.2em #46a4c9, -3em 0 0 0 #46a4c9, -2em -2em 0 -1em #46a4c9;
  }
  75% {
    box-shadow: 0em -3em 0 -1em #46a4c9, 2em -2em 0 -1em #46a4c9,
      3em 0em 0 -1em #46a4c9, 2em 2em 0 -1em #46a4c9, 0 3em 0 -1em #46a4c9,
      -2em 2em 0 0 #46a4c9, -3em 0em 0 0.2em #46a4c9, -2em -2em 0 0 #46a4c9;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 #46a4c9, 2em -2em 0 -1em #46a4c9,
      3em 0 0 -1em #46a4c9, 2em 2em 0 -1em #46a4c9, 0 3em 0 -1em #46a4c9,
      -2em 2em 0 0 #46a4c9, -3em 0em 0 0 #46a4c9, -2em -2em 0 0.2em #46a4c9;
  }
}

/* End of Waiting progress animation * /

/* rerouting */
.retoute_screen {
  width: 350px;
}

.retoute_screen select {
  width: auto;
}