<div class="connectionCmp-area">
	<div class="connectionCmp-title">Connection</div>
	
	<form id="form" name="form" autocomplete="off" novalidate class="connectionCmp-form">
		<input 
			name="username"
			type="text" 
			id="username"
			ng-model="user.name"
			placeholder="Your login" 
			required
			autofocus/>
		<button 
			class="connectionCmp-btn"
			ng-disabled="isConnected" 
			ng-click="createGuest()">Guest
		</button>

		<button 
			class="connectionCmp-btn"
			ng-disabled="!isConnected"
			ng-click="signout()">Sign Out
		</button>
		<img class="connectionCmp-loader" src="./res/progress.gif" ng-if="isLoading"/> 
	</form>
	<div class="connectionCmp-state-result">
		<div class="connectionCmp-state">State: <b class="connectionCmp-state-value">{{state}}</b></div>
	</div>
</div>